# Java
*.class
*.jar
*.war
*.ear

# Spring Boot
target/
bin/
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
*.iml
.idea/
*.ipr
*.iws
.vscode/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.local

# Test reports
test-output/
surefire-reports/
jacoco.exec

# Others
node_modules/